{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "description": "{{ .Description }}",
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
  "author": {
    "@type": "Organization",
    "name": "大人のおもちゃ研究所"
  },
  "publisher": {
    "@type": "Organization",
    "name": "大人のおもちゃ研究所"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
  {{ with .Params.cover }}{{ if .image }},
  "image": "{{ .image }}"
  {{ end }}{{ end }}
}
</script>
{{ end }}

{{ if .IsPage }}
{{ with .Params.cover }}{{ if .image }}
<meta property="og:image" content="{{ .image }}" />
<meta name="thumbnail" content="{{ .image }}" />
{{ end }}{{ end }}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ end }}
